.product-detail-title{
    padding: 2px;
}
.product-detail-information{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    align-items: center;

}

.product-detail-information img{
    margin: auto;
    display: block;
}
