/** @format */

ul {
  list-style: none;
}

.categoryButtons {
  display: flex;
}

.button-item {
  display: block;
  cursor: pointer;
  font-weight: 700;
  margin: 2px;
  padding: 18px;
  border: none;
}

.button-item:hover {
  background-color: #d0d0d0;
}

.button-item.selected-button {
  background-color: #a9a9a9;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  gap: 20px;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas:
  "a a a b";
  justify-content: center;
  align-content: center;
}
.navbar .navbar-title{
  grid-area: a;
}
.navbar .navbar-links{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 4px;
  justify-content: center;
  align-content: center;

}

@media only screen and (max-width: 981px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
